<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button href="#">Học ngay</button>
            <ul>
                <li>Trình độ trung bình</li>
                <li>Cần 6.05 giờ để học</li>
                <li>Truy cập mọi lúc, mọi nơi</li>
            </ul>
        </div>
        <div class="col-lg-9">
            <iframe width="751" height="480" src="https://www.youtube.com/embed/{{videoId}}" title="Course detail page" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
            <p>{{description}}</p>
        </div>
    </div>
</div>